.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  display: flex;
  height: 7rem;
  background-color: white;
  border-bottom: var(--line);
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.content {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
}

.hotel-view {
  flex: 1;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-2);
  border-bottom: var(--line);
}

.description {
  font-size: 1.4rem;
  background-color: white;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}

.user-reviews {
  background-color: blue;
  flex: 1;
}
