.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  display: flex;
  height: 7rem;
  background-color: white;
  border-bottom: 1px solid var(--color-grey-light-2);
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.content {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
}

.hotel-view {
  flex: 1;

  height: 80rem;
}
